@model Node

@{
    ViewData["Title"] = "Удаление";
}

<h1>Delete</h1>
<hr />

<p>Are you sure you want to delete <b>@Model.Name</b>?</p>

<div class="mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
